<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>Moulpali-Regular.ttf</string>
		<string>Sarabun-Regular.ttf</string>
		<string>Sarabun-Thin.ttf</string>
		<string>VictorMono-Regular.ttf</string>
		<string>Sarabun-Thin.ttf</string>
		<string>Sarabun-ExtraLight.ttf</string>
		<string>Sarabun-Medium.ttf</string>
		<string>Sarabun-Bold.ttf</string>
	</array>
</dict>
</plist>
